@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:where(.css-dev-only-do-not-override-13o2ubs).ant-radio-button-wrapper:not(:first-child)::before {
  width: 0;
}

:where(.css-13o2ubs).ant-radio-button-wrapper:not(:first-child)::before {
  width: 0;
}